<ion-content class="ion-padding forgot-content">
  <div class="forgot-container">

    <app-back-button></app-back-button>

    <h2 class="forgot-title">Recuperar contraseña</h2>
    <p class="forgot-subtitle">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

    <ion-item class="custom-input">
      <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-button expand="block" class="sign-in-button">Enviar enlace</ion-button>

    <p class="login-text">
      ¿Ya la recordaste?
      <a href="#">Inicia sesión</a>
    </p>

  </div>
</ion-content>
